.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.login-card {
  width: 350px;
  padding: 1.5rem;
  text-align: center;
}

.loading-section, .error-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
