.operation-card {
  flex: 1;
  padding: 32px;
  border-radius: 12px;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: visible;

  .operation-form {
    padding-top: 8px;
    flex: 1;
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    overflow-y: auto;
    gap: 16px;
    padding-right: 24px;
  }


  .full-width {
    width: 80%;
  }

  .resource-row {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .resource-dropdown {
    width: 20%;
    min-width: 150px;
  }

  .operation-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
  }

  /* Make it responsive */
  @media (max-width: 768px) {
    .operation-header {
      flex-direction: column;
      align-items: flex-start;
    }

    .operation-header button[color="primary"] {
      width: 100%;
    }
  }

  .horizontal-container-3col {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    flex-wrap: nowrap;

    .section {
      flex: 1;
      display: flex;
      flex-direction: column;
      min-width: 0;

      h3 {
        margin-bottom: 12px;
        font-size: 18px;
        font-weight: 500;
      }

      .textarea-field {
        width: 100%;
      }
    }

    .original,
    .transformed {
      flex: 6;
    }

    .operation {
      flex: 5;
      overflow-x: auto;

      .operations-details-container {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }

      .sub-header {
        font-size: 15px;
        font-weight: 500;
        margin-top: 12px;
      }

      .operations-details-row
      {
        display: flex;
        gap: 16px;
        flex-wrap: wrap;
      }

      .column {
        &.fixed {
          width: 120px;
        }

        &.flex {
          flex: 1;
        }
      }

      .header, .code-row {
        display: flex;
        gap: 16px;
        align-items: center;
      }

      .data-label {
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 2px;
      }

      .data-value {
        font-family: monospace;
        font-size: 13px;
        color: #333;
      }
    }
  }

  .error-message {
    color: red;
    font-size: 13px;
    margin-top: 4px;
  }

  .dialog-footer {
    text-align: right;
  }

  .title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }


  .no-results-subtext {
    font-style: italic;
    color: #888;
    font-size: 14px;
  }

  .code-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 12px;

    th, td {
      border: 1px solid #ccc;
      padding: 6px 12px;
      text-align: left;
      vertical-align: middle;
      font-family: monospace;
    }

    th {
      background-color: #f0f0f0;
      font-weight: 600;
    }

    tbody tr:hover {
      background-color: #fafafa;
    }
  }
}
