::ng-deep .vd-dialog.ruleset-add-edit-dialog {
  // background-color: red !important;

  .vd-dialog__content {
    .require-match-field {
      margin-bottom: 1.25rem;

      input {
        margin-right: .5rem;
      }
    }
  }

  .vd-dialog__actions {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);

    .action-button-group {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }
  }
}