@use 'sass:color';

//$primary: #398eb4;
$primary: #005a75;
$secondary: #00756B;
$light: #c4c4c4;
$success: #007543;
$info: #43ABCA;
$warning: #CA8743;
$error: #750022;
$purple: #630075;


.content {
  margin: 2em;
}

.selectable-value {
  user-select: all;
}

.page-header-bar span {
  font-size: 1.5em;
  font-weight: 300;
}

.page-secondary-bar {
  background-color: #7D9099;
  color: #FFF;
}

.page-header-bar button {
  margin-left: auto;
}

.no-results-found-container {
  border: solid 1px rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 100%;
}

.no-results-found-container span {
    font-size: 1.5em;
    font-weight: 300;
}

.mat-column-actions mat-icon {
    color: rgba(0,0,0,.50);
}

.dialog-form-header {
  font-size: large;
  font-weight: 600;
}

.form-actions {
    margin-top: 2em;
}

.dialog-form {
  margin-top: 1em;
}

.select-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 0.5em;
}

.select-container mat-form-field {
  margin-bottom: 1em;
  width: 100%;
}

.list-item-container {
  border: solid 1px rgba(0, 0, 0, 0.12);
  padding: 1em;
  margin-bottom: .5em;
}

.form-input {
  margin-bottom: 1em;
  min-width: 100%;
}

.form-section-bar .title {
  font-size: 1.2em;
  font-weight: 400;
}

.form-section-bar button {
  margin-left: auto;
}

// Cards
.link-card{
    padding: 1em;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: .375em;
    margin-top: 1em;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.link-card .link-card-row {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.split-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.left-pane {
  flex: 1;
  margin-right: 1em;
}

.left-pane p.title {
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

.left-pane p.sub-title {
  font-size: .9rem;
  font-weight: 300;
  margin-top: 0;
}

.right-pane {
  flex: 2;
  text-align: end;
}

.data-label {
    font-size: 1.2rem; 
    font-weight: 400;
}

.data-label.inline-label {
  font-size: 1.1rem;
}

.data-value {
    display: block; 
    color: #5f6672;
    font-size: 1.1rem;
    font-weight: 300; 
    margin-top: .5em; 
    margin-bottom: .5em;
}

// Buttons

.link-button {
  cursor: pointer;
  padding: 8px 16px; 
  border-radius: .375em;
  font-size: 12px;
  font-size: 12px;
  font-weight: 500;
  box-shadow: none;
}

.link-button.btn-lg {
  padding: .75em;  
  border-radius: .375em;
  font-size: 14px;
  font-size: 14px;
}

.link-button.primary {
  background-color: $primary;
  border: 1px solid color.adjust($primary, $lightness: -10%);
  color: #FFF;
}

.link-button.primary:hover {
  background-color: color.adjust($primary, $lightness: 10%); 
}

.link-button.light {
  background-color: $light;
  border: 1px solid color.adjust($light, $lightness: -10%);
  color: #000;
}

.link-button.light:hover {
  background-color: color.adjust($light, $lightness: 10%);
}

.link-button.secondary {
  background-color: $secondary;
  border: 1px solid color.adjust($secondary, $lightness: -10%);
  color: #fff;
}

.link-button.secondary:hover {
  background-color: color.adjust($secondary, $lightness: 10%);
}

.link-button.success {
  background-color: $success;
  border: 1px solid color.adjust($success, $lightness: -10%);
  color: #fff;
}

.link-button.success:hover {
  background-color: color.adjust($success, $lightness: 10%);
}

.link-button.error {
  background-color: $error;
  border: 1px solid color.adjust($error, $lightness: -10%);
  color: #fff;
}

.link-button.error:hover {
  background-color: color.adjust($error, $lightness: 10%);
}

.link-button.info {
  background-color: $info;
  border: 1px solid color.adjust($info, $lightness: -10%);
  color: #fff;
}

.link-button.info:hover {
  background-color: color.adjust($info, $lightness: 10%);
}

.link-button.purple {
  background-color: $purple;
  border: 1px solid color.adjust($purple, $lightness: -10%);
  color: #fff;
}

.link-button.purple:hover {
  background-color: color.adjust($purple, $lightness: 10%);
}

.link-button-group {
  display: inline-flex;
  border-radius: 4px;
  overflow: hidden;
}

.link-button-group .link-button {
  padding: 8px 16px;
  transition: background-color 0.2s;
}

.link-button-group .link-button:not(:last-child) {
  border-right: none;
}

.link-button-group .link-button {
  border-radius: 0;
}

.link-button-group .link-button:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.link-button-group .link-button:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}


