.table-container {
    border: solid 1px rgba(0, 0, 0, 0.3);
    margin-top: 1em;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.link-table {
    background-color: #fff;
    min-width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
  }
  
  .link-table th, .link-table td {
    padding: 1rem;
    text-align: left;
  }

  .link-table tr {
    border-top: 1px solid #e5e7eb;
  }  

  .table-body tr:hover {
    background-color: #f1f5f9; 
  }

  .table-body tr:hover + .submission-row {
    background-color: #f1f5f9; 
  }

  .header-column {
    padding-right: 1rem;
    font-size: .9rem;
    font-weight: 500;
    color: #111827; 
    white-space: nowrap;
    border-bottom: 1px solid #e5e7eb;
  }

  .link-table tr:first-child  {
    border-top: none;
  }  

  .link-table tr + .submission-row {    
    border-top: none;
  } 
  
  tr.submission-row {
    font-size: 1.2rem;
    font-weight: 500;
  }

  tr.submission-row:hover {
    background-color: transparent;
  }

  .table-head {
    background-color: #fff;
  }

  .table-body {
    background-color: #fff;    
  }
  
  .table-cell {
    padding: 0.75rem;
    font-size: 0.875rem;
    color: #4b5563; 
  }

  // Search Filter Bar

  .filter-bar {       
    padding: 8px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-top: 1em;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }

  .filter-bar-header {
    color: #333;
    font-size: 14px;
    font-weight: 600;   
  }

  .filter-bar-row {
    display: flex;
    flex-direction: row;
    gap: 2em;
  }

  .filter-bar-col {
    display: flex;
    flex-direction: column;
    gap: .5em;
  }

  .filter-bar-col:last-child {
    margin-left: auto;
  }
  

  .filter-bar-item {    
    align-items: center;
    margin-top: .5em;
  }  
  
  .filter-bar label {
    font-size: 12px;
    font-weight: 500;
    color: #333;
  }

  .filter-bar select,
  .filter-bar input {
    padding: 8px 8px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    width: 100%;
    flex-grow: 1;
  }

  .filter-bar-buttons {    
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: .5em;
  } 