.link-dialog-header {
    display: flex;
    padding: 1em;
    padding-bottom: 0;
}

.link-dialog-header .link-dialog-title {
    font-size: 1.5rem;
    font-weight: 500;
    color: #000000;
}

.link-dialog-header .link-dialog-button {    
    margin-left: auto;    
}

.link-dialog-content {
    padding: 1em;
}

.link-dialog-section-header {
    font-size: 1.2rem;
    font-weight: 500;
    color: #000000;
    margin-bottom: 1em;
}