@use '../../../../styles/core.scss';

$primary: #398eb4;
/* General layout and spacing */
::ng-deep .custom-menu .mat-menu-content {
  padding: 8px 0;
  min-width: 240px;
}

::ng-deep .custom-menu .mat-menu-item {
  font-size: 14px;
  padding: 12px 16px;
}

::ng-deep .custom-menu .mat-icon {
  margin-right: 12px;
  color: #3f51b5;
}

button[color="warn"] {
  color: #e53935; // Custom red
}
