/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;
@use 'styles/custom-themes/blue-rose.scss';
@use 'styles/custom-themes/purple-green.scss';
@use 'custom-themes/zelda-blue-theme.scss' as zeldaBlue;
@use 'ngx-toastr/toastr';

/* Account for the height of the fixed position toolbar */
html, body { height: calc(100vh - 64px); }
body { background-color: #F5F5F5; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$color-variants: primary, secondary, tertiary, error, success, warning;

:root {
  /*--primary-color: #153d77;
  --secondary-color: #6c757d;
  --white-color: #fff;
  --success-color: #198754;
  --error-color: #dc3545;
  --info-color: #398eb4;
  --background-color: #f2f2f2;*/
  // Customize the entire app. Change :root to your selector if you want to scope the styles.
}

.info-snackbar {
  color: white;
  --mdc-snackbar-container-color: var(--info-color) !important;

  .mat-simple-snackbar-action {
    color: white;
  }
}

.success-snackbar {
  color: white;
  --mdc-snackbar-container-color: var(--success-color) !important;

  .mat-simple-snackbar-action {
    color: white;
  }
}

::ng-deep .mat-mdc-snack-bar-container.error-snackbar {
  --mdc-snackbar-container-color: #750022 !important;
  --mdc-snackbar-supporting-text-color: #ffffff !important;

  border-radius: 8px !important;
  font-weight: 500;
  font-size: 14px;
}
.light-success-snackbar {
  color: #155724;
  --mdc-snackbar-container-color: #d4edda !important;

  .mat-simple-snackbar-action {
    color: darkgreen;
  }
}


.light-error-snackbar {
  color: #721c24;
  --mdc-snackbar-container-color: #f8d7da !important;
  border-color: #f5c6cb;

  .mat-simple-snackbar-action {
    color: darkred;
  }
}

.mat-toolbar {
  @include mat.toolbar-overrides(
      (
        container-background-color: var(--mat-sys-primary),
        container-text-color: var(--mat-sys-on-primary)
      )
  )
}

.mat-card {
  @include mat.card-overrides((
    elevated-container-color: red,
    elevated-container-shape: 32px,
    title-text-size: 2rem,
    outlined-container-color: var(--mat-sys-primary)
  ));
}

.link-dialog-container .mat-mdc-dialog-surface,
.link-dialog-container .mdc-dialog__surface {
  background-color: #FFF !important;
  border-radius: .375em !important; 
}

.mat-mdc-paginator {
  background-color: inherit !important;
}