name: Deploy_To_TEST

trigger: none

pr: none

pool:
    vmImage: ubuntu-latest

variables:
- group: link-cloud-variables
- name: registry-repo-Name
  value: 'link-admin-ui'
- name: containerRegistry
  value: 'nhsnlinkprem.azurecr.io'

steps:
- task: Kubernetes@1
  displayName: 'Deploy to Account'
  inputs:
    connectionType: 'Azure Resource Manager'
    azureSubscriptionEndpoint: 'NHSNLink Resource'
    azureResourceGroup: 'nhsnlink-rg'
    kubernetesCluster: 'nhsnlink-aks'
    namespace: 'scale-test'
    command: set
    arguments: 'image -n scale-test deployment account-deploy account=$(containerRegistry)/link-account:$(Build.BuildId) --force'