name: Deploy_To_TEST

trigger: none

pr: none

pool:
    vmImage: ubuntu-latest

variables:
- group: link-cloud-variables
- name: registry-repo-Name
  value: 'link-admin-ui'
- name: containerRegistry
  value: 'nhsnlinkprem.azurecr.io'
- name: kube_namespace
  value: 'dev-scale'
- name: kube_clustername
  value: 'nhsnlink-aks'
- name: nhsn_resourcegroup
  value: 'nhsnlink-rg'

steps:

# Authentication
- task: KubeloginInstaller@0
  displayName: 'Install Kubelogin latest'

# Update Service
- task: Kubernetes@1
  displayName: 'Deploy to Account'
  inputs:
    connectionType: 'Azure Resource Manager'
    azureSubscriptionEndpoint: 'NHSNLink Resource'
    azureResourceGroup: '$(nhsn_resourcegroup)'
    kubernetesCluster: '$(kube_clustername)'
    namespace: '$(kube_namespace)'
    command: set
    arguments: 'image -n $(kube_namespace) deployment account-deploy account=$(containerRegistry)/link-account:$(Build.SourceBranchName)'