@use '../../../../../styles/core.scss';

$primary: #398eb4;

.full-width-table {
  width: 100%;
}

.edit-column mat-icon {
  color: $primary !important;
}

.visibility-column mat-icon {
  color: $primary !important;
}

.enabled-column {
  color: $primary;
  font-weight: 600; /* optional: makes text stand out */
}

button[color="primary"] {
  color: $primary //blue
}

