.full-width-table {
  width: 100%;
}

mat-expansion-panel {
  background: transparent;
  box-shadow: none;
}

.expanded-content {
  padding: 16px;
  background: #f0f0f0;
  border-top: 1px solid #ccc;
}

.detail-row {
  background: #f9f9f9;
}

