@use '../../../../../styles/core.scss';

$primary: #398eb4;
$warn: #e53935;

.full-width-table {
  width: 100%;
}

.edit-column mat-icon {
  color: $primary !important;
}

.delete-column mat-icon {
  color: $warn !important;
}

.visibility-column mat-icon {
  color: $primary !important;
}

.enabled-column {
  color: $primary;
  font-weight: 600;
}

.button-row {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
}

.spacer {
  flex: 1 1 auto;
}
