@use "@angular/material" as mat;

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.close-menu-icon {
  margin-right: 0 !important;
}

.mat-mdc-list-item .mat-icon {
  margin-right: .5em;
}

.mat-expansion-panel-header-title {
}

.mat-expansion-panel-header-title .mat-icon {
    margin-right: .5em;
}

.toolbar-divider {
  padding-left: .75em;
}

.toggle-menu-btn {

}

.user-profile {
}

.profile-name {
  vertical-align: super;
}

/*.profile-icon {
  vertical-align: text-bottom;
}*/

.example-spacer {
  flex: 1 1 auto;
}
