@import '../../../../styles/validation-theme.scss';

.sub-pre-qual-report-subnav {
  margin-top: .25rem;
  background-color: $vd-primary-800;
  padding: 0 $vd-container-margin-x;

  .subnav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .subnav-item {
    @include vd-nav-secondary();
    position: relative;
    background: transparent;
    color: $vd-neutral-50;
    display: block;
    padding: 1rem 1.25rem;

    &:hover,
    &:focus-visible,
    &.active {
      background: $vd-primary-50;
      color: $vd-neutral-900;
    }
  }
}