@use '../../../../styles/core.scss';

.error {
  color: red;
  font-size: 14px;  /* Increased font size */
  font-weight: bold; /* Make the text bold */
  padding: 5px;  /* Add some padding */
  background-color: #f8d7da;  /* Light red background */
  border: 1px solid #f5c6cb;  /* Border color */
  border-radius: 5px;  /* Rounded corners */
}
