@use '../../../../styles/core.scss';

.filter-fields {
  display: flex;
  align-items: flex-start;
  column-gap: 10px;
}

.account-table-container {
  border: solid 1px rgba(0, 0, 0, 0.12);
}

button[color="primary"] {
  color: #1e88e5; // Custom blue
}

button[color="warn"] {
  color: #e53935; // Custom red
}
